<div class="container">
  <mat-card style="width: 95%;">
    <div class="container">
      <div class="wrapper">
        <div class="chart">
          <canvas baseChart
                  [data]="pieChartData"
                  [type]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins">
          </canvas>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<button class="back"
        (click)=" onBackClick()"
        matTooltip="Go back to repository issues list"
        mat-raised-button
        color="accent">Back</button>
