<div class="profile-pic-container">
  <mat-card style="max-width: 650px;">
    <div class="language">
      <img [src]="repository?.owner?.avatar_url"
           alt="Avatar">
    </div>

    <div class="description">
      <b>Authour</b>
      <span style="color: blue;">{{repository?.owner?.login}}</span>
    </div>

    <div class="language">
      <b>Language</b>
      <p>{{repository.language}}</p>
    </div>

    <div class="description">
      <b>Description</b>
      <p>{{repository.description}}</p>
    </div>

    <div class="repo-info">
      <div class="info-items">Date created</div>
      <div class="info-items">{{repository.created_at | date}}</div>
    </div>
    <div class="repo-info">
      <div class="info-items">Updated</div>
      <div class="info-items">{{repository.pushed_at | date:false}}</div>
    </div>
    <div class="repo-info">
      <div class="info-items">Total forks</div>
      <div class="info-items">{{repository?.forks}}</div>
    </div>
    <div class="repo-info">
      <div class="info-items">Open Issues</div>
      <div class="info-items">{{repository?.open_issues}}</div>
    </div>
    <div class="repo-info">
      <div class="info-items">Stargazers </div>
      <div class="info-items">{{repository?.stargazers_count}}</div>
    </div>
    <div class="repo-info">
      <div class="info-items">Url</div>
      <div class="info-items">{{repository?.html_url}}</div>
    </div>
    <div class="repo-info">
      <div class="info-items">View project on GitHub</div>
      <div class="info-items">
        <a mat-raised-button
           matTooltip="View repository source code and files"
           color="primary"
           [href]="repository?.html_url"
           target="blank">View project on GitHub</a>
      </div>
    </div>
    <div class="repo-info">
      <div class="info-items">
        <a mat-raised-button
           color="accent"
           matTooltip="Go back to repositories list"
           [routerLink]="['/repos']">Back</a>
      </div>
    </div>
  </mat-card>
</div>
