.profile-pic-container{
 display: flex;
 margin-top: 20px;
 flex-direction: column;
 align-items: center;

}

.profile{
 flex: 20%;
 align-content: center;
 display: flex;
 align-items: center;
 align-content: center;
}

img {
  border-radius: 50%;
  width: 200px;
  border: 1px solid #000;
}

.language{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 5px;
}

.description{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;

}

.repo-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-items{
  padding: 10px;
  flex-wrap: wrap;
  text-align: left;
}
