.table {
  width: 95%;
}

table{
  width: 100%;
  margin-top: 15px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-pan{
  text-align: center;
}

.back-btn-container{
  width: 95%;
  margin-top: 15px;
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}

a{
  text-decoration: none;
  color:  #3f51b5;
}

