<div class="container">
  <div class="mat-elevation-z8"
       class="table">
    <table mat-table
           [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef> Repository </th>
        <td mat-cell
            *matCellDef="let element"
            style="padding-top: 10px;">
          <b>{{element.name}}</b>
          <p>{{element.description | trim: 160}}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell
            *matHeaderCellDef> </th>
        <td mat-cell
            *matCellDef="let element">
          <a [routerLink]="['/repo',element.id]"
             mat-button
             matTooltip="View repository details"
             color="primary">Details</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell
            *matHeaderCellDef> </th>
        <td mat-cell
            *matCellDef="let element">
          <a [routerLink]="['/repo/issues']"
             [queryParams]="{user: element.owner.login, repo:element.name}"
             mat-button
             matTooltip="View repository issues"
             color="primary">Issues</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="node_id">
        <th mat-header-cell
            *matHeaderCellDef> </th>
        <td mat-cell
            *matCellDef="let element">
          <a [href]="element.html_url"
             mat-raised-button
             color="primary"
             matTooltip="View repository source code and files"
             target="blank">View project on GitHub</a>
        </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row"
          *matNoDataRow>
        <td class="mat-cell col-pan"
            colspan="4">No Repositories found"</td>
      </tr>
    </table>
    <mat-paginator [length]="totalPages"
                   (page)="onPageChanged($event)"
                   [pageSizeOptions]="[15]"
                   showFirstLastButtons
                   aria-label="Select page of Issues">
    </mat-paginator>
  </div>
  <div class="back-btn-container">
    <a mat-raised-button
       matTooltip="Go back to search page"
       color="accent"
       [routerLink]="['/']">
      back
    </a>
  </div>
</div>
