<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput
           (keyup)="applyFilter($event)"
           placeholder="Ex. Open/ Closed"
           #input>
  </mat-form-field>

  <div class="mat-elevation-z8"
       class="table">
    <table mat-table
           [dataSource]="dataSource">

      <ng-container matColumnDef="title">
        <th mat-header-cell
            *matHeaderCellDef> Title </th>
        <td mat-cell
            *matCellDef="let element"> {{element.title | trim: 50}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell
            *matHeaderCellDef> State </th>
        <td mat-cell
            *matCellDef="let element"> {{element.state}} </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell
            *matHeaderCellDef> Date Created </th>
        <td mat-cell
            *matCellDef="let element"> {{element.created_at | date}} </td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell
            *matHeaderCellDef> Total Comments
          <a mat-raised-button
             *ngIf="showReportBtn"
             style="float: right;"
             color="primary"
             matTooltip="View repository issues report pie chart"
             routerLink="/repo/issues/report">View report</a>
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.comments}} </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row"
          *matNoDataRow>
        <td class="mat-cell col-pan"
            colspan="4">No Issues found"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of Issues">
    </mat-paginator>
  </div>
  <div class="back-btn-container">
    <a mat-raised-button
       matTooltip="Go back to repositories list"
       color="accent"
       [routerLink]="['/repos']">
      back
    </a>
  </div>
</div>
