.table {
  width: 95%;
}

table{
  width: 100%;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-pan{
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 94.5%;
}

.back-btn-container{
  width: 95%;
  margin-top: 15px;
  display: flex;

  align-items: flex-start;
}

