<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>GitHub Client</h1>
    <span class="menu-spacer"></span>
    <div>

      <a mat-button
         [routerLink]="'/repos'"
         *ngIf="showReposMenu"> Repositories</a>
      <a mat-button
         [routerLink]="'/repo/issues'"
         *ngIf="showIssuesMenu">Issues</a>
      <a mat-button
         [routerLink]="'/'"> Search</a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">GitHub, Inc. is a provider of Internet hosting for software development and version
      control using Git</span>
  </mat-toolbar-row>
</mat-toolbar>
