p {
  font-family: Lato;
}

mat-toolbar {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  width: 100%;
  background-color: lightgrey;
}

.pagination{
  display: flex;
  justify-items: center;
  margin-top: 20px;
  justify-content: center;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #3f51b5;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #3f51b5;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #3f51b5;
  background: #3f51b5;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
