<div class="wrap">
  <div class="search">
     <input type="text" required class="searchTerm"   [(ngModel)]="searchTerm" placeholder="Search repositories">
     <button type="submit" class="searchButton" (click)="onSearch()">
       <i class="fa fa-search"></i>
    </button>
  </div>
</div>
